---
layout: index
---

<section id="me" class="about" role="main">
  <div class="wrapper">
    <p>My name is Filipe Fernandes and am a UI Engineer at <a href="https://www.theaa.ie/" rel="nofollow" title="I'm currently working at The AA Ireland" target="_blank">The AA Ireland</a> and founder at <a href="http://chocoladesign.com" target="_blank">Choco la Design</a>. I started working with design and development as a freelancer in 2005.</p>

    <p>I provided consultancy to government agencies in Brazil like the Ministry of Health and Supreme Court about front-end architecture and user interface design.</p>

    <p>In 2010 I founded Choco la Design. It's a website where my contributors and I talk about design, helping our readers understand more about theory, technique and the market itself sharing our experiences.</p>
  <hr>
  </div>
</section>

{% include social-links.html %}
