<section class="comments">
  <h4 class="comments__title">Leave a comment</h4>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'filipesfgithubio';
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>

<hr>
