<header id="top" class="page-header">
  <div class="wrapper">
    <nav class="nav">
      <span class="nav__brand">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42" class="nav__brand__path"><path fill="null" d="M21.002 1.005c-11.044 0-19.996 8.95-19.996 19.993c0 11 9 20 20 20 c11.043 0 19.993-8.951 19.993-19.996C40.995 10 32 1 21 1.005z M24.956 37.875v-0.012 c-0.108 0.016-0.222 0.031-0.333 0.031c-1.266 0-2.288-1.027-2.288-2.291v-9.517l0 0c0-1.264 1.024-2.291 2.291-2.291h0.333l0 0 h6.789c0.736 0 1.331-0.592 1.331-1.332c0-0.733-0.595-1.333-1.331-1.333H24.54c-1.226-0.046-2.205-1.049-2.205-2.286l0 0v-6.89l0 0 c0.032-1.247 1.049-2.252 2.304-2.252c0.338 0 0.7 0.1 0.9 0.204l0 0c2.848 1.2 5.1 3.4 6.4 6.2 c0 0 0 0 0 0.014c0.008 0 0 0 0 0.043c0.209 0.5 0.7 0.8 1.2 0.8 c0.735 0 1.333-0.596 1.333-1.332c0-0.217-0.054-0.419-0.145-0.601l0.005-0.003c-2.281-5.136-7.425-8.718-13.406-8.718 c-5.959 0-11.086 3.555-13.382 8.659c-0.049 0.085-0.088 0.176-0.118 0.272c-0.038 0.125-0.06 0.255-0.06 0.4 c0 0.7 0.6 1.3 1.3 1.332c0.536 0 0.999-0.318 1.211-0.775l0 0l0.009 0.005c1.252-2.875 3.596-5.163 6.511-6.343 c0.264-0.104 0.548-0.168 0.852-0.168c1.253 0 2.3 1 2.3 2.252h0.007h0.001v6.89H19.67c0 1.237-0.98 2.24-2.206 2.3 h-7.206c-0.738 0-1.333 0.598-1.333 1.332c0 0.7 0.6 1.3 1.3 1.332h6.791v0.002h0.333c1.265 0 2.3 1 2.3 2.291h0.001 v9.514c0 1.265-1.024 2.293-2.289 2.293c-0.115 0-0.226-0.016-0.333-0.03v0.01C9.383 36.1 3.7 29.2 3.7 21 c0-9.569 7.76-17.329 17.33-17.329c9.566 0 17.3 7.8 17.3 17.329C38.329 29.2 32.6 36.1 25 37.875z M10.101 15.8 c0 0.008-0.003 0.015-0.003 0.022C10.098 15.8 10.1 15.8 10.1 15.8z M10.078 15.943c0 0.004-0.002 0.009-0.003 0 C10.076 16 10.1 15.9 10.1 15.943z M10.04 16.083L10.04 16.083L10.04 16.083z"/></svg>
      </span>
    </nav>
  </div>
</header>
