<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{ site.title }} • {{ site.description }}{% else %}{{ site.title }} • {{ site.description }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}, {{ site.description }}{% endif %}">

  {% if page.cover %}<meta property="og:image" content="{{ page.cover | prepend: site.url }}"/>{% else %}<meta property="og:image" content="{{ "/img/og.png" | prepend: site.url }}"/>{% endif %}
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}"/>

  <link rel="preconnect" href="//fonts.googleapis.com">
  <link rel="preconnect" href="//maxcdn.bootstrapcdn.com">
  <link rel="preconnect" href="//stats.g.doubleclick.net">

  <link rel="stylesheet" href="{{ "//fonts.googleapis.com/css?family=Roboto:100,300,400,700,100italic,300italic,400italic,700italic|Roboto+Slab:100,300,400,700" }}">
  <link rel="stylesheet" href="{{ "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="shortcut icon" href="{{ "/img/favicon.png" | prepend: site.baseurl }}" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
