<footer class="footer">
  <ul class="footer__list">
    <li class="footer__list__item"><a href="{{ site.linkedin }}" rel="nofollow" title="Connect"><i class="fa fa-linkedin"></i></a></li>
    <li class="footer__list__item"><a href="{{ site.github }}" rel="nofollow" title="Hack"><i class="fa fa-github"></i></a></li>
    <li class="footer__list__item"><a href="{{ site.twitter }}" rel="nofollow" title="Follow"><i class="fa fa-twitter"></i></a></li>
    <li class="footer__list__item"><a href="mailto:{{ site.email }}" rel="nofollow" title="Say hello"><i class="fa fa-envelope"></i></a></li>
  </ul>
</footer>
