<section class="social-share">
  <a class="social-share__icon fa fa-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url | prepend: site.url }}" title="Share: {{ page.title }} on LinkedIn" target="_blank"></a>
  <a class="social-share__icon fa fa-twitter" href="http://twitter.com/share?url={{ page.url | prepend: site.url }}&amp;text={{ page.title }}&amp;via=filipesf" title="Share: {{ page.title }} on Twitter" target="_blank"></a>
  <a class="social-share__icon fa fa-facebook" href="http://www.facebook.com/sharer.php?u={{ page.url | prepend: site.url }}" title="Share: {{ page.title }} on Facebook" target="_blank"></a>
</section>
