//=====================================
//
//  SOCIAL SHARE
//
//=====================================



.social-share {
  text-align: center;

  @include mq(small-only) {
    text-align: center;
  }

  margin: $base-spacing--double 0;

  @include e(cta) {
    font-family: $headers-font-family;
    font-size: $font-size--medium;
    font-weight: $font-weight--bold;
  }

  @include e(icon) {
    @include size(56px);
    background-color: $color-silver;
    border-radius: 100%;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    margin-left: $base-spacing--half / 2;
    transition: $transition-property $transition-duration $transition-type;

    &[class*="twitter"]     { color: $color-twitter; }
    &[class*="github"]      { color: $color-github; }
    &[class*="facebook"]    { color: $color-facebook; }
    &[class*="linkedin"]    { color: $color-linkedin; }
    &[class*="google-plus"] { color: $color-google-plus; }

    &:hover {
      border: none;
      color: $color-snow;

      &[class*="twitter"]     { background-color: $color-twitter; }
      &[class*="github"]      { background-color: $color-github; }
      &[class*="facebook"]    { background-color: $color-facebook; }
      &[class*="linkedin"]    { background-color: $color-linkedin; }
      &[class*="google-plus"] { background-color: $color-google-plus; }
    }
  }
}
