//=====================================
//
//  BUTTONS
//
//=====================================



.btn {
  @include obj-button(extend);
  @include border-radius($base-border-radius);
  background-color: palette("primary");
  box-shadow: none;
  color: palette("snow");
  font-weight: $font-weight--medium;
  transition: all 0.3s ease;

  &:hover {
    background-color: palette("primary", "dark");
    border-bottom: none;
  }

  @include m(small) {
      font-size: em(12px);
      padding: em(5px) em(15px);
    }

    @include m(large) {
      font-size: em(18px);
      padding: em(15px) em(25px);
    }

    @include m(full) {
      display: block;
      font-size: em(16px);
      margin-top: em($base-spacing--double);
      padding: em(6px);
      width: 100%;
    }
}
