//=====================================
//
//  COMMENTS
//
//=====================================



.comments {
  @include e(title) {
    color: $color-primary;
    font-size: $font-size--huge;

    @include mq(small-only) {
      font-size: $font-size--large;
    }

    font-weight: $font-weight--medium;
  }
}
