//=====================================
//
//  FEATURED
//
//=====================================



.featured-work {
  @include e(title) {
    @include font-size($font-size--huge, 1.2);
    font-weight: $font-weight--bold;

    @include mq(small-only) { @include font-size($font-size--large, 1.2); }
  }
}

.work-details {
  margin-bottom: $base-spacing;

  &:last-child { margin-bottom: 0; }

  @include e(title) {
    @include font-size($font-size--large, 1.2);
    font-weight: $font-weight--medium;
    margin: 0;

    i { @include font-size($font-size--small); }
  }

  @include e(job) {
    @include font-size($font-size--medium);
    display: block;
    margin-bottom: $base-spacing--half;
  }

  @include e(description) {
    @include font-size($font-size--regular);
    color: palette(smoke, xdark);
    font-style: italic;
  }

  @include m(cta) {
    margin: $base-spacing;
    margin-top: $base-spacing--double;

    .work-details__title {
      @include font-size($font-size--large, 1.2);
      color: palette('primary', 'xxdark');

      a {
        @include border-radius(5px);
        background-color: palette('primary');
        box-shadow: 0 -4px 0 rgba(0,0,0,0.2) inset;
        color: palette('snow');
        display: block;
        text-align: center;
        padding: $base-spacing;
        transition: $transition-property $transition-duration $transition-type;

        &:hover { background-color: palette('primary', 'dark'); }

        @include mq(small-only) {
          margin-left: -$base-spacing;
          margin-right: -$base-spacing;
        }
      }
    }
  }
}
