//=====================================
//
//  ARTICLES
//
//=====================================



.article {
  h4,
  h5,
  h6 { font-weight: $font-weight--medium; }

  img { max-width: 100%; }

  @include e(meta) {
    color: palette(smoke, xdark);
    display: block;
    margin-bottom: $base-spacing--half;

    @include e(datetime) { margin-right: $base-spacing--half; }
  }

  @include e(title) {
    @include font-size($font-size--giant);

    @include mq(small-only) {
      @include font-size($font-size--big);
      line-height: 1.2;
    }

    color: $color-primary;
    font-weight: $font-weight--light;
    line-height: 1.2;
    margin-bottom: $base-spacing--half;
  }

  @include e(excerpt) { color: palette(carbon, xxlight); }

  @include e(subtitle) {
    @include font-size($font-size--large);
    color: palette(carbon, xxlight);
    font-family: $font-family--primary;
    font-weight: $font-weight--light;
    line-height: 1.5;

    @include mq(small-only) {
      @include font-size($font-size--medium);
      line-height: 1.5;
    }
  }

  @include e(heading) {
    font-weight: $font-weight--bold;
    margin-top: $base-spacing;
  }

  @include e(video) {
    @include size(100%, 450px);

    @include mq(small-only) {
      @include size(100%, 250px);
    }

    margin: $base-spacing 0;
  }

  @include mq(small-only) {
    h4 { @include font-size($h4-font-size); }
  }
}
