//=====================================
//
//  ABOUT
//
//=====================================



.about {
  // @include e(content) {
  //   @include font-size($font-size--large);
  //   color: $color-carbon;
  //   line-height: 1.5;

  //   &:first-of-type { margin-top: 0; }
  //   &:last-of-type { margin-bottom: 0; }
  // }
}
