//=====================================
//
//  PAGE
//
//=====================================



//-------------------------------------
//  #PSEUDOS
//-------------------------------------

*,
*:before,
*:after { box-sizing: border-box; }

::selection {
  background-color: palette(primary, xxlight);
  color: $color-base;
}



//-------------------------------------
//  #HTML
//-------------------------------------

html { height: 100%; }



//-------------------------------------
//  #BODY
//-------------------------------------

body {
  background: #ffffff;
  color: $color-base;
}



//-------------------------------------
//  #RULER
//-------------------------------------

hr {
  border: none;
  border-bottom: 1px solid palette(smoke, xlight);
  margin: $base-spacing--double 0;

  @include mq(small-only) {
    margin: $base-spacing 0;
  }
}



//-------------------------------------
//  #LINKS
//-------------------------------------

a { color: $color-primary; }
