//=====================================
//
//  TYPOGRAPHY
//
//=====================================



//-------------------------------------
//  #GENERAL
//-------------------------------------

body {
  font-family: $font-family--primary;
  font-weight: $font-weight--medium;
  letter-spacing: $base-letter-space;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



//-------------------------------------
//  #HEADERS
//-------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headers-font-family;
  font-weight: $headers-font-weight;
  margin-top: 0;
}

h1 { @include font-size($h1-font-size); }
h2 { @include font-size($h2-font-size); }
h3 { @include font-size($h3-font-size); }
h4 { @include font-size($h4-font-size); }
h5 { @include font-size($h5-font-size); }
h6 { @include font-size($h6-font-size); }

@include mq(small-only) {
  h1 { @include font-size($h3-font-size); }
  h2 { @include font-size($h4-font-size); }
  h3 { @include font-size($h5-font-size); }
  h4 { @include font-size($h6-font-size); }
  h5 { @include font-size($font-size--small); }
  h6 { @include font-size($font-size--tiny); }
}



//-------------------------------------
//  #PARAGRAPH
//-------------------------------------

p {
  @include font-size($font-size--large);

  @include mq(small-only) {
    @include font-size($font-size--medium);
    line-height: 1.5;
  }

  color: $color-raven;
  font-weight: $font-weight--light;
  line-height: 1.5;

  &:first-of-type { margin-top: 0; }
  &:last-of-type { margin-bottom: 0; }
}



//-------------------------------------
//  #LINKS
//-------------------------------------

a {
  text-decoration: none;

  &:hover { border-bottom: 1px solid; }
}



//-------------------------------------
//  #BLOCKQUOTE
//-------------------------------------

blockquote {
  font-style: italic;
  margin: 0;
  padding: 24px;
  padding-left: 50px;
  position: relative;

  &:before {
    color: $color-primary;
    content: "\201C";
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
  }

  p {
    color: $color-primary;
    font-size: $font-size--huge;

    @include mq(small-only) {
      font-size: $font-size--large;
    }
  }
}
