//=====================================
//
//  WRAPPERS
//
//=====================================



@mixin wrapper($extend: false) {
  @if $extend == extend {
    @extend %wrapper;
  } @else {
    @include clearfix;
    @include centered;
    margin-bottom: 0;
    margin-top: 0;
    max-width: em($grid-max-width);
    width: 100%;
    & & {
      margin-left: em(-$grid-col-gutter / 2);
      margin-right: em(-$grid-col-gutter / 2);
      width: auto;
    }
  }
}

%wrapper {
  @include wrapper;
}

%wrapper-wide {
  @include wrapper;
  max-width: em($grid-max-width-wide);
}

.wrapper {
  @extend %wrapper;

  @include mq(small-only) {
    padding: 0 $base-spacing;
  }

  @include mq(medium-only) {
    padding: 0 $base-spacing;
  }
}
