//=====================================
//
//  BUTTONS
//
//=====================================



@mixin obj-button($extend: false) {
  @if $extend == extend {
    @extend %btn;
  } @else {
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: em(14px);
    text-align: center;
    text-decoration: none !important;
    margin-bottom: em(20px);
    margin-top: em(15px);
    padding: em(10px) em(20px);
    width: auto;
  }
}

%btn { @include obj-button; }
