//=====================================
//
//  TEXT COLORS
//
//=====================================



.text-color {
  @each $name, $color in $split-palettes {
    &--#{$name} {
      color: $color;
    }
  }
}
