//=====================================
//
//  HELPERS
//
//=====================================



// CLEARFIX
%clearfix {
  @include clearfix;
}

// HIDE TEXT
%hide-text {
  @include hide-text;
}

// CENTER ELEMENTS
%centered {
  @include centered;
}

// COLLAPSE COLUMNS
%collapsed {
  @include collapsed;
}

// EXPAND ELEMENT
%expand {
  @include expand;
}



//-------------------------------------
//  #MEDIA QUERY CHECKER
//-------------------------------------

%mq {
  &::before {
    @include mq("small")  { content: "SMARTPHONE"; }
    @include mq("medium") { content: "TABLET"; }
    @include mq("large")  { content: "DESKTOP"; }
    @include mq("wide")   { content: "DESKTOP WIDE"; }
  }
}
