<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    {% include hero.html %}

    {% include social-links.html %}
    {% include footer.html %}
  </body>
</html>
