---
layout: articles
---

<article class="article">
  <span class="article__meta">
    <time class="article__meta__datetime" datetime="{{ page.date | %H:%M:%S }}">
      <i class="fa fa-clock-o"></i>
      {{ page.date | date_to_long_string }}
    </time>
    <span class="article__meta__category">
      <i class="fa fa-tags"></i>
      {{ page.tags }}
    </span>
  </span>
  <h2 class="article__title">
    {{ page.title }}
  </h2>
  <h3 class="article__subtitle">
    {{ page.excerpt }}
  </h3>

  <hr>
  {{ content }}
</article>

{% include social-share.html %}
