<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <section class="projects" role="main">
      <div class="wrapper">
        {{ content }}
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
